/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-1 {
  width: calc(8.33333% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-2 {
  width: calc(16.66667% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-3 {
  width: calc(25% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-4 {
  width: calc(33.33333% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-5 {
  width: calc(41.66667% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-6 {
  width: calc(50% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-7 {
  width: calc(58.33333% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-8 {
  width: calc(66.66667% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-9 {
  width: calc(75% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-10 {
  width: calc(83.33333% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-11 {
  width: calc(91.66667% - 20px);
}

/* line 48, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.grid-12 {
  width: calc(100% - 20px);
}

/* line 68, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  /* line 68, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-3 {
  margin-left: calc(25% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-6 {
  margin-left: calc(50% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-9 {
  margin-left: calc(75% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

/* line 75, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  /* line 82, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

/* line 112, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 112, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  /* line 112, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 90, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

/* line 127, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  /* line 127, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 90, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_grid.scss */
.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

/* line 1, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
body {
  background: #edece4;
  border: 10px solid #cbc6b9;
  color: #2a2426;
}

@media screen and (max-width: 759px) {
  /* line 1, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
  body {
    border: none;
  }
}

/* line 10, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 15, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
p {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
}

/* line 19, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
.titulo {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  text-transform: uppercase;
}

@media screen and (max-width: 759px) {
  /* line 19, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
  .titulo {
    margin-bottom: 40px;
  }
}

/* line 25, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
.titulo::after {
  content: '';
  display: block;
  width: 75%;
  float: right;
  height: 2px;
  background: #2a2426;
  margin-top: 14px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 25, C:/Users/Vitor/Documents/Origamid/CSS com SASS/Le Scone/css/scss/_geral.scss */
  .titulo::after {
    width: 60%;
  }
}

/*# sourceMappingURL=../style.map */